body {
  padding:10px;
  font-family:Helvetica, Arial, sans-serif
}

.body-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/*
input[type=textarea] {
  width:100%;
  min-height:100px;
}
*/

code {
  background-color: #e4e4e4;
  padding: 5px;
  border-radius: 5px;
  color: #3d4083;
  font-family: courier;
}



@media (min-width: 576px) {
.jumbotron {
  padding: 2rem
}
}